<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Annuaire des entreprises et professionels de la RDC" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/themes/light.css"
    />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s003" style="min-height: 20vh;" >
      <h1 style="text-align: left; width: 47%; color: #64CCC5" >
        <a style="color: #64CCC5; text-decoration: none" href="{{ path('app_main') }}" >ProNetwork</a>
        <span style="font-weight: normal; font-size: 10px; color: #000" >RDC</span>
      </h1>
      
      <form method="GET" action="{{ path('app_search') }}" >
        <div class="inner-form" style="box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15)">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select id="categoryId" data-trigger="" name="filter">
                <option value="companies" {% if type == 'companies' %} selected {% endif %} >Entreprises</option>
                <option value="contacts" {% if type == 'contacts' %} selected {% endif %} >Professionnels</option>
              </select>
            </div>
          </div>
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="provinces">
                <option value="all" >Provinces</option>
                <option value="Kinshasa" >Kinshasa</option>
                <option value="Haut-Katanga" >Haut-Katanga</option>
                <option value="Nord-Kivu" >Nord-Kivu</option>
                <option value="Sud-Kivu" >Sud-Kivu</option>
                <option value="Maniema" >Maniema</option>
                <option value="Haut-Uele" >Haut-Uele</option>
                <option value="Bas-Uele" >Bas-Uele</option>
                <option value="Kongo-Central" >Kongo-Central</option>
                <option value="Kasai-Central" >Kasai-Central</option>
                <option value="Kasai-Oriental" >Kasai-Oriental</option>
                <option value="Kasai" >Kasai</option>
                <option value="Lualaba" >Lualaba</option>
                <option value="Lomami" >Lomami</option>
                <option value="Tanganyika" >Tanganyika</option>
                <option value="Nord-Ubangi" >Nord-Ubangi</option>
                <option value="Sud-Ubangi" >Sud-Ubangi</option>
                <option value="Tshopo" >Tshopo</option>
                <option value="Tshuapa" >Tshuapa</option>
                <option value="Maindombe" >Maindombe</option>
                <option value="Kwilu" >Kwilu</option>
                <option value="Kwanngo" >Kwanngo</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" value="{{query | replace({'%':''})}}" name="search" type="text" placeholder="Recherche..." />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <br/><br/> <span style="font-weight: normal; font-size: 13px;" > {{ count.count }} Résultats - Page {{ page }} </span>
      <div class="results" >
        {% for result in results %}
          {% if type == 'contacts' %}
            <div class="results-item" style="padding-right: 15px">
              <a href="/contact_details/{{result.contact_id}}" class="result-title" >{{ loop.index  }}.{{result.contact_full_name | upper}}</a>
              <p style="color: #949494" >
                <i  style="color: #949494; margin-right: 5px; font-size: 13px" class="fa-solid fa-user-tag"></i>{{ result.contact_role }}
              </p>
              {% if result.contact_linkedin_url  %}
                <p style="vertical-align: center; font-weight: 400; font-size: 13px" >
                  <a style="padding:5px; background-color: #DAFFFB; font-size: 12px; border-radius: 5px;text-decoration: none" href="{{ result.contact_linkedin_url }}" >Lien de contact</a>
                </p>
              {% endif %}
            </div>
          {% else %}
          <div class="results-item">
            <a href="/company_details/{{result.company_id}}" class="result-title">{{ loop.index }}. {{result.company_legal_name}}</a>
              <p style="color: #949494" >
                <i  style="color: #949494; margin-right: 10px" class="fa-solid fa-map-location-dot"></i>{{result.company_state ? result.company_state : 'Kinshasa' }}
              <p/>
              {% if result.company_address %}
              <p>
               <i style="color: #949494; margin-right: 10px" class="fa-solid fa-location-dot"></i> 
               <a href="https://maps.google.com/?q={{result.company_address}}" class="result-address" >{{result.company_address }}</a>
              <p/>
              {% endif %}
              <p>
                
                {% if result.company_domain %}
                Site Web:
                <a href="https://{{result.company_domain | replace({",": "."}) }}" target="_blank" rel="noopener noreferrer" >
                  
                    {{result.company_domain  | replace({",": "."}) }}
                </a>
                {% endif %}
              <p/>
              
                <p>
                  <a  href="/search?filter=companies&category={{result.company_category}}"  class="result-category" style="padding:5px; background-color: #DAFFFB; font-size: 12px; border-radius: 5px"><i style="color:#999" class="fa-solid fa-building"></i> catégorie: {{ result.company_category }}</a>
                <p/>
              
              {% if result.company_sectors %}
                {% set parsed_sectors = result.company_sectors | replace({'[':'', ']':'', '"':'',' ':''}) | split(',')  %}
                <p>
                  {% for sector in parsed_sectors  %}
                    {% if (sector | length) > 0  %}
                      <a class="result-sector" href="/search?filter=companies&cateorgy={{sector}}" >{{ sector }}</a>,
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if count.count > 50 %}
        <div class="paginate">
          {% if prev_page > 0 %}
            <a class="paginate-button" href="search?filter={{type}}&search={{query | replace({'%':''})}}&provinces={{provinces}}&page={{prev_page}}" ><i class="fa-solid fa-circle-chevron-left"></i> Précédent</a>
          {% endif %}
          {% if next_page != -1 %}
            <a class="paginate-button" href="search?filter={{type}}&search={{query | replace({'%':''})}}&provinces={{provinces}}&page={{next_page}}" >Suivant <i class="fa-solid fa-circle-chevron-right"></i></a>
          {% endif %}
        </div>
      {% endif %}
      <div style="text-align: center;margin-top: 2rem" >
        <a style="font-size: 11px; text-align: center" href="/removal" ><i class="fa-solid fa-trash-can"></i> Supprimer mes infos </a><br/><br/>
        <a style="font-size: 11px; text-align: center;" href="/cgu" ><i class="fa-solid fa-file-signature"></i> (CGU) Conditions Générales d'utilisation </a>
        <p style="font-size: 10px; text-align: center" >
        Notice: Les données actuellement sur le site ont un taux d'erreur d'association de 38.6% et 23.6% de doublons.<br/>
        Certaines informations pourraient être erronés nous effectuons des mises à jours tous les 15 jours pour améliorer cela. </p>
      <p style="font-size: 11px; text-align: center" >© 2023 ProNetwork</p>
      </div>
    </div>

    <script src="js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
    <script>
      document.getElementById("categoryId").value = "{{ type }}";
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      tippy('.result-category', {
        content: "Représente le revenue estimé de l'entreprise. A: plus d'un million USD, B: plus de 100K USD, C: plus de 25K USD et D: moins de 25K USD",
        theme: 'light',
      });
    </script>
  </body>
</html>
